.svg {
  display: inline-block;
  height: 31px;
  padding-top: 10px;
  cursor: pointer;
  color: #7af;
}

.svg::before {
  content: '';
  background: url('./../../../../asssets/whitePencil.svg');
}

.span {
  margin: 10px 0px 10px 0px;
}