@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url("./../src/cosmos.svg");
    color: #9f9;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    color: #bfb;
}

.textarea {
    margin: 10px;
    resize: none;

    background: #003300;
    color: #99ff99;
}

textarea:focus {
    outline: #99ff99 solid 1px;
}

input {
    display: flex;
    align-items: flex-start;
}

button {
    margin: 10px;

    background: #335533;
    color: #99ff99;
}

button:focus {
    outline: #99ff99 solid 1px;
}

button:active {
    background: #99ff99;
}
