.wrapper {
    display: flex;
    align-items: flex-start;
}

.btn {
    margin: 10px;
    width: 60px;
    background: #030;
    color: #9f9;
    outline: none;
}

.error {
    border: 1px solid red;
}

.inputClass {
    margin: 10px;
    background: #030;
    color: #9f9;
}

.value {
    margin: 10px;
    color: red;
    height: 21px;
}

.textError {
    color: red;
    height: 21px;
    margin-left: 10px;
}
